/* --- NOTES UI --- */

#shsdbs-noteui-container input {
    display: inline;
}
#shsdbs-noteui-container h1 {
    padding-top: .6em;
    font-size: 1.4em;
}
#shsdbs-noteui-fieldset-activity {
    margin-left: 6px;
}
#shsdbs-noteui-input-comments {
    margin-left: 6px;   
}
#shsdbs-noteui-flagforstaff {
    margin-left: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.2em;
}
#shsdbs-noteui-container input:invalid {
    box-shadow: 0 0 5px 1px red;
}
#shsdbs-noteui-container select:invalid {
    box-shadow: 0 0 5px 1px red;
}
#shsdbs-noteui-container input:focus:invalid {
    outline: none;
}

.shsdbs-noteui-horizontal-section {
    display: inline-flex;
}
.shsdbs-noteui-horizontal-section fieldset {
    display: flex;
    margin: 8px 6px;
}

#shsdbs-notes-button {
    margin: 20px;
}

/* --- MAIN NAV MENU ---

   We recreate some menu styling instead of reusing the exising classes
   because applying the classes causes the menu javascript to hit errors
   attempting to run on our injected items
*/

.shsdbs-main-nav-item {
    background-color: rgb(153, 17, 17);
    border-left: 1px solid rgb(170, 25, 25);
    border-right: 1px solid rgb(136, 9, 9);
    clear:none;
    float:left;
    line-height:normal;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    padding: 0;
    padding-left: 10px;
}

.shsdbs-main-nav-item a {
    background-color: rgba(0, 0, 0, 0);
    box-sizing:content-box;
    display:block;

    color:rgb(255, 255, 255);
    padding: 1px 1px 1px 0;
    margin-bottom:5px;
    margin-top:5px;

    float:left;
    font: bold 12px arial, helvetica, sans-serif, sans;

    line-height:21px;

    position:relative;
}
.shsdbs-main-nav-item a:hover {
    color:rgb(255, 255, 255);
}

.shsdbs-main-nav-item span {
    padding: 0 12px 1px 0;
}

/* Switching this from thick blue to thin gray clashes less with our custom-colored items */
.RadMenu_PetPoint ul.rmRootGroup {
    border-bottom: 0 !important;
}

#extension-injected-page-loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    top: 0;
    left: 0;
    text-align: center;
    padding: 200px;
    font-size: 3em;
    opacity: .95;
    display: none;
}

/*
  This is a hack to prevent the UI flashing around between PetPoint loading in
  and our javascript finishing up with subsequent DOM manipulations. It is unset
  in exercise_notes.js. We do the initial hide here instead of in the js because
  Chrome more reliably picks it up before the PetPoint JS starts executing like
  this.
 */
body {
    display: none;
}

.shsdbs-debug-only {
    display: none;
}